<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact - Matthew Somanlall Photography</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  </head>
  <body>
    <header>
      <nav>
        <a href="/portfolio">Portfolio</a>
        <a href="/contacts">Contacts</a>
      </nav>
      <div class="name">
        <h2>Matthew Somanlall</h2>
      </div>
    </header>

    <section id="contact">
      <div class="container">
        <section id="gallery">
          <div class="image-column">
            <img src="{{ url_for('static', filename='/assets/img/_MG_8681.jpeg') }}" alt="Photo 1">
          </div>
          <div class="image-column">
            <!-- Contact Information -->
            <div class="contact-info">
              <p>If you'd like to get in touch, please feel free to reach out using the form below or through the contact details provided.</p>
              <p>Email: <a href="mailto:matthew.somanlall@student.tdsb.on.ca">matthew.somanlall@student.tdsb.on.ca</a></p>
              <p>Phone: (647) 482-3369</p>
              <p>Location: Toronto, ON</p>
            </div>

            <!-- Contact Form -->
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <div class="flash-message">{{ message }}</div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <form action="{{ url_for('contacts') }}" method="POST">
              <label for="name">Your Name</label>
              <input type="text" id="name" name="name" placeholder="Your Name" required>

              <label for="email">Your Email</label>
              <input type="email" id="email" name="email" placeholder="Your Email" required>

              <label for="message">Your Message</label>
              <textarea id="message" name="message" placeholder="Your Message" required></textarea>

              <input type="submit" value="Send Message">
            </form>
          </div>
        </section>
      </div>
    </section>
    <footer>
        <p>&copy; 2024 Matthew Somanlall</p>
    <footer>
  </body>
</html>