<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Photography Portfolio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <nav>
            <a href="#">Portfolio</a>
            <a href="#">Contacts</a>
        </nav>
        <div class="name">
            <h2>Matthew Somanlall</h2>
        </div>
    </header>

    <section id="gallery">
        <div class="image-column">
            <img src="{{ url_for('static', filename='/assets/img/IMG_6689.heic') }}" alt="Photo 1">
        </div>
        <div class="image-column">
            <img src="{{ url_for('static', filename='/assets/img/IMG_6874.jpeg') }}" alt="Photo 2">
        </div>
        <div class="image-column">
            <img src="{{ url_for('static', filename='/assets/img/IMG_7943.heic') }}" alt="Photo 3">
        </div>
    </section>

    <div id="gallery">
        <div class="image-column">
            <img src="{{ url_for('static', filename='/assets/img/IMG_7943.heic') }}" alt="Image 1">
        </div>
        <div class="image-column">
            <!-- New Section to mimic the grid layout -->
    <div id="photo-grid">
        <div class="grid-item">
            <img src="{{ url_for('static', filename='/assets/img/IMG_7943.heic') }}" alt="New Image 1">
        </div>
        <div class="grid-item">
            <img src="{{ url_for('static', filename='/assets/img/IMG_7943.heic') }}" alt="New Image 2">
        </div>
        <div class="grid-item">
            <img src="{{ url_for('static', filename='/assets/img/IMG_7943.heic') }}" alt="New Image 3">
        </div>
        <div class="grid-item">
            <img src="{{ url_for('static', filename='/assets/img/IMG_7943.heic') }}" alt="New Image 4">
        </div>
    </div>
        </div>

    </div>
    
    
    

</body>
</html>
