<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Photography Portfolio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <nav>
            <a href="/portfolio">Portfolio</a>
            <a href="/contacts">Contacts</a>
        </nav>
        <div class="name">
            <h2>Matthew Somanlall</h2>
        </div>
    </header>

    <section id="gallery">
        <div class="image-column">
            <img src="{{ url_for('static', filename='/assets/img/_MG_9268.jpeg') }}" alt="Photo 1">
        </div>
        <div class="image-column">
            <img src="{{ url_for('static', filename='/assets/img/IMG_7943.heic') }}" alt="Photo 2">
        </div>
    </section>

    <div id="gallery">
        <div class="image-column">
            <img src="{{ url_for('static', filename='/assets/img/IMG_8134.heic') }}" alt="Image 1">
        </div>
    </div>
    <div id="gallery">
        <div class="image-column">
            <img src="{{ url_for('static', filename='/assets/img/Purple_Lambo.heic') }}" alt="Image 2">
        </div>
        <div class="image-column">
            <div id="photo-grid">
                <div class="grid-item">
                    <img src="{{ url_for('static', filename='/assets/img/_MG_0533.jpeg') }}" alt="New Image 1">
                </div>
                <div class="grid-item">
                    <img src="{{ url_for('static', filename='/assets/img/_MG_0772.jpeg') }}" alt="New Image 2">
                </div>
                <div class="grid-item">
                    <img src="{{ url_for('static', filename='/assets/img/_MG_0927.jpeg') }}" alt="New Image 3">
                </div>
                <div class="grid-item">
                    <img src="{{ url_for('static', filename='/assets/img/IMG_6874.jpeg') }}" alt="New Image 4">
                </div>
            </div>
        </div>
    </div>
</body>
</html>
